.scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding: 1rem;
}
#outro {
  background-color: black;
  padding-top: 500px;
}
.scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
}

figure {
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 20rem auto;
  background-color: #adabab;
  color: white;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  color: whitesmoke;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  font-family: "Josefin Sans";
}
