body {
  font-family:'Red Hat Display', sans-serif;
}
.scrolly {
    position: relative;
    background-color: #F6F2EB;;
    padding: 1rem;
  }
#media-scrolly{
    position: relative;
    padding: 1rem;
}

  article {
    position: relative;
    padding: 0;
    max-width: 20rem;
    margin: 0 auto;
  }

  figure {
    position: sticky;
    display: flex;
    flex-direction: row;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
    z-index: 0;
  }

  .gen-z-figure {
    /* background-color: None; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin-left: 2rem;
    
  }
  .boomer-figure{
    /* background-color: None; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    margin-left: 10rem;
  }

  .genz-area {
    display: flex;
    justify-content: flex-start;
  }

  .boomer-area {
    display: flex;
    justify-content: flex-end;
  }

  .genz-title {
    display: flex;
    justify-content: flex-start;
    /* width:50%; */
    font-size: 32px;
    color:#282828;
  }

  .boomer-title {
    display: flex;
    justify-content: flex-end;
    /* width:80%; */
    font-size: 32px;
    color:#282828;
  }


  .step {
    margin: 0 auto 3rem auto;
    color: #fff;
    background-color: rgba(1, 0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .step:last-child {
    margin-bottom: 10rem;
  }

  .step.is-active p {
    background-color: goldenrod;
    color: #3b3b3b;
  }

  .step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
  }
span {
  font-size: 2.5rem;
  text-align: center;
  order: 0;
}